<%- include ('partials/head.ejs') %>

<div class="headline">

<h1>Quit Music, Go Back To School</h1>
<h6>You heard me, <%= user%>.</h6>
<a href="/logout">Log Out?</a>

</div>

<%- include ('partials/player.ejs') %>
<%- include ('partials/playlist.ejs') %> <br><br>
<%- include ('partials/uploader.ejs') %> <br><br>

<%- include ('partials/updatesongs.ejs') %>



<%- include ('partials/foot.ejs') %>
