<%- include('partials/head.ejs') %> 

<div class="title">


<h1>Quit Music, Go Back to School</h1>
<div class="explanation">

    <h3>A realistic music app. </h3>
    <p>Upload your tracks in progress to the band's cloud storage. Tag them with purposefully vague categories. Keep your possibilities open. Art begins as a Rorschach inkblot, not Linnaean taxonomy.</p>
    <p>Now go have some productive fun!</p>
    
   <a href="/logout"><button>Log Out</button></a>
</div>
</div>
<br>

<div class="player-search">

    <%- include('partials/searchBar.ejs') %> 
    <%- include('partials/player.ejs') %> 
    <%- include('partials/playlist.ejs') %> 
</div>

<%- include('partials/uploader.ejs') %> 

   


<script>
<%- include('./scripts/updateSongs.ejs') %> 
</script>
   

<script>
    <%- include('./scripts/playerScript.ejs') %> 
</script>
        
  
</body>
</html>