<%- include('partials/head.ejs') %> 

<a href="/home"><h1>Take me back home, please</h1></a>



<%- include('partials/fakePlayer.ejs') %> 

<h4>AND HERE ARE THE SONGS THAT MATCH YOUR SEARCH:</h4>

<%- include('partials/fakePlaylist.ejs') %> 

   
     
<script>
   <%- include('partials/fakePlayerScript.ejs') %> 

</script>
<%- include('partials/deleteScript.ejs') %> 
</body>
</html>