
<div class="playlist">
 
    <h3 class="playlist-heading">Playlist:</h3>
    
    <div class="playlist-content">

<% songs.forEach( (song, index) => { %>

<div id="<%= song.cloudFileName %>" class="playlist-row">

    <div class="playlist-title-section">
    <div class="playlist-title" >
    <h3 data-type="title" data-modify="<%= song.title %>"><%=`${index + 1}. ${song.title}`%> </h3> 
</div>
</div>

<div class="playlist-buttons-section">

    <div class="playlist-buttons">
        <button class="playthistrack"  id="<%= song.cloudFileName%>" data-index='<%= index %>' onclick="loadAndPlayTrack(dataset.index)">Play This Track</button>
    <!-- when we click this button, we want the playerscript to load the music file as the source of our single audio element, so we can play it -->
    
    <!-- note: we're pulling the loadTrack(trackindex) function from our playerscript.ejs file! No need to define it separately in playlist.ejs-->

        <form action="/delete" method="post">
            <div class="areyousure hidden">
                <h1>ARE YOU SURE YOU WANT TO DELETE <%= song.title %>?! </h1>
                <button class="reallydelete" type="submit" >Really Delete!</button>
               
                <button class="changedmymind" type="button" onclick="changedMyMind(this)">Nope, Changed My Mind</button>
            </div>
           
            <input type="hidden" name="delete" value="<%= song.cloudFileName %>">
            <button class="deletethistrack" type="button" onclick="areYouSure(this)">Delete</button>
                
        </form>
     
    </div>


    
  
</div>

<div class="playlist-fields-section">
    <div class="playlist-fields">

   
        <p class="playlist-field playlist-superhero" data-type="superhero" data-modify="<%= song.superhero%>"><%= song.superhero %> </p> 
        <p class="playlist-field playlist-planet" data-type="planet" data-modify="<%= song.planet %>"><%= song.planet %> </p> 
        <p class="playlist-field playlist-beatle" data-type="beatle" data-modify="<%= song.beatle %>"><%= song.beatle %> </p> 
        <p class="playlist-field playlist-artifact" data-type="artifact" data-modify="<%= song.artifact %>"><%= song.artifact %> </p> 
    </div>
</div>


</div>

    <!-- below, we have a delete form. It sends the cloudFileName of the song in question via a hidden input -->
    
   

    <% }) %>

</div>

</div>
    